<div class="container">
  <mat-card-header>
    <mat-card-title>About me</mat-card-title>
  </mat-card-header>
  <mat-card-content class="elements">
    <mat-card class="card">
      <mat-card-title style="font-size: 35px; text-align: center"
        >Personal information</mat-card-title
      >
      <mat-card-content class="content-mat-card">
        <div class="content">
          I am a student at the faculty of Cybernetics, Statistics and
          Informatics Economic - Economic Informatics profile within the Academy
          of economic studies from Bucharest and I am looking for an opportunity
          to apply and develop my front-end developer skills. I have a passion
          for programming and I am willing to join an IT company where I can
          contribute my knowledge and learn in an environment dynamic and
          innovative.
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title style="font-size: 35px; text-align: center"
        >Experience</mat-card-title
      >
      <mat-card-content class="content-mat-card">
        <div class="content">
          <h1 class="content-h1">
            Practice program - Endava, Bucharest, Romania 2022.
          </h1>
          <ul>
            I participated in professional development sessions covering the
            following topics: Javascript, Angular, NodeJs, Sql, Github, Java
            Spring Boot, Testing, Security Awareness. April 2022 - May 2022
          </ul>
        </div>
        <div class="content" style="margin-top: 10px">
          <h1 class="content-h1">Hackathon Endava- 2022</h1>
          <ul>
            I was part of the winning team of the competition where we had to
            develope a full stack web application. I loved it because i saw how
            it's like to work with a team and we managed to create a functional
            product.
            <ul>
              October 2022 - November 2022
            </ul>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title style="font-size: 35px; text-align: center"
        >Education</mat-card-title
      >
      <mat-card-content class="content-mat-card">
        <div class="content">
          <h1 class="content-h1">Mathematics Informatics class. 2014-2018</h1>
          <ul class="content-ul">
            Mircea cel Bâtrân national college from Râmnicul Vâlcea, Vâlcea
          </ul>
          <h1 class="content-h1" style="margin-top: 20px">
            Faculty of Cybernetics, Statistics and Economic Informatics
            Institution: Academy of Economic Studies from Bucharest. 2020 -
            Present
          </h1>
          <ul class="content-ul">
            Profile Economic Informatics
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</div>
